{% extends 'base.html' %} {% block content %}
<!-- Page Content -->
<div class="container main-wrapper mt-4">
    <div class="row">
        <section class="one container">
            <div class="jumbotron my-4 main-display">
                <h1 class="display-3">Welcome
                    <small>{{ username|capitalize }}!</small>
                    <small class="score" value='0'>{{ score }}</small>
                </h1>
                <p class="main-para">Below is a riddle to solve. Once correct you will be shown a new riddle. Guess them correctly and earn 1 point. Incorrect guesses will loose 1 point. Finish the game and become top of the leaderboard.</p>

                <p>You have completed {{ current }} out of {{ riddle_length}} !!</p>
                
                <p class="question">{{ data[current].riddle }}</p>
                
                <div class="riddle-display-box mt-4 col-lg-12">
                    <form method="POST" class="guess-form">
                        <input type="text" name="guess" class="guess" placeholder="Type your guess.." required>
                        <input class="guess-Btn" type="submit" value="Try guess">
                    </form>
                </div>
            </div>
            <div class="container">
                <button class="reveal">Click here to reveal previous attempts.</button>
                <div class="reveal-box">
                    <ul class="guess_list">
                        {% for i in guess %}
                        <li class="li_list">{{ i[1] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

